<template name="information">
	<section id="information">
		<h1>What The <span class="alttitle">Fruit</span> is Pomodoro<span class="alttitle">?</span></h1>
		<div class="content"><p>Pomodoro is "<em>Tomato</em>" in Italian</p>
			<p>The Pomodoro Technique however is something completely different... <font style="font-size:9px">[put in actual information not just Futurama Filler Text]</font></p>


			<p>I'm Santa Claus! Oh yeah, good luck with that. Would you censor the Venus de Venus just because you can see her spewers? Goodbye, cruel world. <em>Goodbye, cruel lamp</em>. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be&hellip;</p>
			<p>Yeah, lots of people did. There, now he's trapped in a book I wrote: a crummy world of plot holes and spelling errors! Bender! Ship! <strong>Stop bickering</strong> or I'm going to come back there and change your opinions manually!</p>
			<p>It must be wonderful. This is the worst kind of discrimination: the kind against me! No, she'll probably make me do it. Just once I'd like to eat dinner with a celebrity who <em>isn't bound and gagged</em>.</p>
			<p>Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars. I'm sorry, guys. I never meant to hurt you. Just to <strong>destroy everything you ever believed in</strong>. Calculon is gonna kill us and it's all everybody else's fault! Professor, make a woman out of me. We don't have a brig. Switzerland is small and neutral! We are more like Germany, <em>ambitious and misunderstood!</em></p>
			<p>You know, I was God once. Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry? I just told you! You've killed me! Is the Space Pope reptilian!? <strong>Interesting</strong>. No, wait, the other thing: <em>tedious</em>.</p>
		</div>
	</section>
</template>