<head>
  <title>Team Pomodoro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
  
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>

<body>
	{{> header}}

	{{> members}}
	
	{{> controls}}
	{{> information}}
	{{> footer}}

	{{> modal}}
</body>

<template name="header">
	<header>
		<h1><span class="alttitle">Team</span> Pomodoro</h1>
	</header>
</template>

<template name="controls">
	<section class="member controls">
		<h2>Controls</h2>
		<ul>
			<li><a id="new_member" href="#ctl_add_new_member">Add New Member</a></li>
			<li><a id="delete_member" href="#ctl_delete_member">Delete Member</a></li>
			<li><a id="edit_settings" href="#ctl_edit_settings">Settings</a></li>
			<li><a id="reset_all_timers" href="#ctl_reset_all_timers">Reset All Timers</a></li>
			<li><a id="edit_status_names" href="#ctl_edit_status_names">Edit Status Names</a></li>
			<li><a id="edit_alarms" href="#ctl_edit_alarms">Edit Alarms</a></li>
		</ul>
	</section>
</template>

<template name="footer">
	<footer>built by <a href="http://twitter.com/MartinDownton">@martindownton</a> &amp; <a href="http://twitter.com/PhilKershaw">@PhilKershaw</a> &amp;maybe <a href="http://twitter.com/TheRealBifter">@TheRealBifter</a></footer>
</template>

<template name="modal">
	<div class="modal">
		<a href="#ctl_modal_close" class="close">x</a>
		<h1 class="title"></h1>
		<div class="content"></div>
	</div>
</template>
