/* Yeah Bitch, Variables */
/* Truer Tomato green but... meep */
h1,
h2 {
  font-family: infinity, monospace;
  text-align: center; }

h1 {
  color: #fa3419;
  font-size: 50px; }

h1 .alttitle {
  color: #95e617; }

h2 {
  font-size: 40px;
  margin: 20px auto; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

em {
  color: #fa3419;
  font-style: normal; }

strong {
  color: #95e617; }

p {
  line-height: 1.3em; }

html {
  background: #2c2d2f;
  /* Old browsers */
  /*
  background: -moz-linear-gradient(top, #2c2d2f 0%, #777777 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2d2f), color-stop(100%,#777777));
  background: -webkit-linear-gradient(top, #2c2d2f 0%,#777777 100%);
  background: -o-linear-gradient(top, #2c2d2f 0%,#777777 100%);
  background: -ms-linear-gradient(top, #2c2d2f 0%,#777777 100%);
  background: linear-gradient(to bottom, #2c2d2f 0%,#777777 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d2f', endColorstr='#777777',GradientType=0 );
  */
  color: #eeeeee;
  height: 100%;
  font-family: Courier, Helvetica, arial;
  font-family: Tahoma; }

footer {
  font-size: 14px;
  padding: 1em;
  text-align: center; }

footer a {
  color: #4c4d4f; }

#teammembers {
  /*
  FlexBox FTW
  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.member {
  border: 2px solid #4c4d4f;
  float: left;
  /* Purely a fallback for non-flexbox browsers */
  font-size: 16px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 250px; }

.member.owner {
  background-color: #95e617;
  background-color: #1c1d1f;
  width: 524px; }

.member.controls {
  float: none;
  margin: 15px auto;
  width: 524px; }

.member h2,
.member .statuscontainer {
  margin-left: 15px;
  margin-right: 15px; }

.member .statuscontainer {
  color: #4c4d4f; }

.member .imgcontainer {
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  width: 200px; }

.member .timer {
  font-family: inconsolata, courier new, monospace;
  font-size: 80px;
  text-align: center; }

.member.owner:after {
  background: #4c4d4f;
  content: "You";
  font-family: infinity, monospace;
  font-size: 18px;
  padding: 5px 80px;
  position: absolute;
  right: -60px;
  top: 10px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); }

.timer {
  color: #4c4d4f; }

.controls {
  color: #4c4d4f;
  margin: 15px; }

.controls a {
  color: #eeeeee;
  font-size: 16px; }

/* Statuss */
.member.busy .timer,
.member.busy .status {
  color: #fa3419; }

.member.complete .timer,
.member.complete .status,
.member.completebreak .timer,
.member.completebreak .status {
  color: #eeeeee; }
.member.complete .timer,
.member.completebreak .timer {
  margin: 10px 15px;
  overflow: hidden;
  position: relative;
  /*
  text-decoration: line-through;
  */ }
.member.complete .timer:after,
.member.completebreak .timer:after {
  content: "testing";
  border-bottom: 5px solid #fa3419;
  height: 0px;
  overflow: hidden;
  display: block;
  position: absolute;
  width: 100%;
  top: 50px;
  margin-top: -2.5px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg); }

.member.break .timer,
.member.break .status {
  color: #95e617; }

#information {
  margin: 20px 50px; }

#information .content {
  -webkit-columns: 300px 3;
  columns: 300px 3; }
  #information .content p:first-child {
    margin: 0 0 1em;
    width: 300px; }
