*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

h1,
h2 {
	font-family: 'Lato', monospace;
	font-weight: 100;
	text-align: center;
}
h1 {
	color: $red;
	font-size: 50px;
}
h1 .alttitle { color: $green; }
h2 {
	font-size: 40px;
	margin: 20px auto;
}

a {
	color: $white;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
em { color:$red; font-style:normal; }
strong { color:$green; }
p {
	line-height: 1.3em;
}

ul {
	color: $grey-light;

	a {
		display: block;
		line-height: 1.8em;
		padding-right: 20px;
	}
}

input[type="submit"] {
	background: 0;
	color: $white;
	font-weight: 100;
	border: 2px solid $grey-light;
	padding: 10px 25px;
}

html {
	background: $grey; /* Old browsers */
	/*
	background: -moz-linear-gradient(top, #2c2d2f 0%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2d2f), color-stop(100%,#777777));
	background: -webkit-linear-gradient(top, #2c2d2f 0%,#777777 100%);
	background: -o-linear-gradient(top, #2c2d2f 0%,#777777 100%);
	background: -ms-linear-gradient(top, #2c2d2f 0%,#777777 100%);
	background: linear-gradient(to bottom, #2c2d2f 0%,#777777 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d2f', endColorstr='#777777',GradientType=0 );
	*/
	
	color: $white;
	height: 100%;
	font-family: 'Lato', Courier, Helvetica, arial;
}

footer {
	font-size: 14px;
	font-weight: 100;
	padding: 1em;
	text-align: center;
}
	footer a {
		color: $grey-light;
	}